* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.common-btn {
  background-color: blue;
  color: aliceblue;
  border-radius: 7px;
  border-style: none;
  font-weight: bold;
}

/* Nav Bar Style  */
.nav-bar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1% 4%;
}
.nav-manu {
  display: flex;
  list-style: none;
  padding: 15px 0px;
  gap: 20px;
}
.nav-manue li:hover {
  cursor: pointer;
  color: blueviolet;
}

.nav-btn {
  padding: 9px 30px;
  margin: 0;
}

/* hero Section  */
.hero-section {
  text-align: center;
  color: white;
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
header h1 {
  padding-top: 80px;
  margin-bottom: 20px;
}
header p {
  margin-bottom: 190px;
}
.hero-btn {
  padding: 15px 50px;
}

/* Speaker Section  */
.speaker-section h1 {
  text-align: center;
  margin: 5% 5% 0;
}
.speaker-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 5%;
  gap: 40px;
}
.speaker-card img {
  width: 100%;
  height: auto;
  border: solid 1px blanchedalmond;
  border-color: antiquewhite;
  border-radius: 15px 15px 0 0;
}
.speaker-card {
  border: solid 1px blanchedalmond;
  border-color: antiquewhite;
  border-radius: 15px;
  background-color: azure;
}
.speaker-list {
  margin: 15px 20px;
}
.speaker-list p:first-child {
  color: rgb(71, 71, 255);
  font-size: 12px;
}
.speaker-list h3 {
  margin: 10px 0;
}

/* Price Card Section  */
.price-card-section {
  justify-items: center;
}
.price-card-container {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.price-card-container ul {
  margin-left: 15px;
}
.price-card-container ul li {
  margin-bottom: 15px;
}
.price-card {
  border: solid 1px #ddd;
  border-radius: 8px;
  background-color: rgb(253, 254, 251);
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-sizing: border-box;
}
.price-card-2 {
  background-color: black;
  color: #ddd;
}
hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 25px 0;
}
.general-price {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(21, 21, 167);
  border-radius: 5px;
  color: blue;
}
.unique-price {
  width: 100%;
  padding: 10px;
  background-color: blue;
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}